body {
    /* font setup */
    font-family: 'Inter Tight', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: white;

    background-color: #313131;
}

.wrapper{
    min-height: 100%;
    max-width: 1476px;
    margin: 0 auto;
}

.page{

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



/* HEADER */
header{
    background-color: #3E3E3E;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    height: 53px;
}

header .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__logo{
    padding-top: 5px;
}

#myImage {
    transition: opacity 0.5s ease;
}

.hidden {
    opacity: 0;
}

nav {
    min-height: 100%;
    max-width: 1476px;
    margin: 0 auto;

    display: flex;
    justify-content: end;
    padding-top: 33px;
}


.nav{
    width: 375px;
    height: 464px;
    
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.25));
    z-index:99999999; 
    
    background: #3E3E3E;
    border-radius: 13px;
}

.text-nav{
    display: grid;
    text-align: center;
}

.text-nav a {
    font-style: italic;
    font-weight: 200;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    
    color: #FFFFFF;
    text-decoration: none;

    padding: 10px;
}

.text-nav .map-site {
    padding-top: 15px;
}

.text-nav .map-site a{
    font-style: italic;
    font-weight: 100;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    
    color: #ffffffd6;  
}

.text-nav .glory-to-Ukraine {
    padding-top: 10px;
    font-style: italic;
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;  
    text-align: center;
    
    color: #FFFFFF;
}

/* HEADER END */





/* FOOTER */
footer{
    margin-top: auto;
}

.back__footer .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}

.back__footer{
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
}

.footer__social .icon{
    padding-top: 14px;
    padding-bottom: 39px;
}

.icon{
    display: flex;
    flex-wrap: wrap;
}


.creator__tag {
    font-style: italic;
    font-weight: 100;
    font-size: 27px;
    line-height: 33px;
}

.footer__creator{
    text-align: right;
}

.footer__creator .icon {
    padding-top: 14px;
    display: flex;
    justify-content: end;
}

.icon div{
    margin-right: 26px;
}

.icon div:last-child{
    margin-right: 0px;
}
/* FOOTER END */





/* BACKGROUND */
.back__header{
    height: 822px;
    background: url(../images/background/back-up.png) repeat-x top;
}

.back__footer{
    height: 299px;
    background: url(../images/background/back-down.png) repeat-x bottom;
}
/* BACKGROUND END*/
